// = variables =
// ===============================================

/* SCSS HEX */
$magnolia: #f7f0f5ff;
$almond: rgba(222, 203, 183, 0.534);
$middle-grey: #8f857dff;
$davys-grey: #5c5552ff;
$black-coffee: #433633ff;
